.header{
    background: url("./jpeg/hero/1920x720.jpg") no-repeat center center cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    left: 0;
    right: 0;
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 900px){
    body{
        margin: 0;
    }
    
    .navbar{
        text-align: center;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 10% 80% 10%; 
    }

    .nav-logo {
        text-align: center;
        grid-column: 2/3;
    }

    .nav-left {
        display: none;
    }

    .nav-right{
        display: none;
    }

    .header{
        background: url("./jpeg/hero/1920x720.jpg") no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        left: 0;
        right: 0;
        height: 600px;
        width: 100%;
    }
}

/* 
html{
	scroll-behavior: smooth;
}

.navbar {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 2fr 5fr 2fr;
}

.nav-logo {
    grid-column: 1/2;
    margin-left: 50px;
}

.nav-left {
    grid-column: 2/3;
}

.nav-right {
    grid-column: 3/4
}

.navbar ul{
    margin-top: 23px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
} 

.navbar ul li {
    float: left;
}
  
.navbar ul li a {
    display: block;
    padding: 8px;
}

.navbar ul a{
    text-decoration: none;
    color: #1a1a1a;
}
/* End of navbar */

/* Start of Header */
.header {
    display: grid;
    background: url("../jpeg/hero/1920x720.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left: 0;
    right: 0;
    height: 500px;
}

.header .header-text {
    position: absolute;
    top: 45%;
    left: 8%;
}
/* End of Header */

/* Start of middle content */
.mid-content-1  {
    margin-bottom: 70px;
}

.mid-content-2 {
    margin-top: 60px;
    margin-bottom: 80px;
}

.mid-content-text {
    text-align: center;
}

.mid-content-img img {
    height: 400px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Start of Middle content 3*/
.mid-content-3 {
    background: rgb(24, 23, 23);
    color: #fff;
    height: 1300px;
    margin-top: 200px;
    margin-bottom: 80px;
}

.mid-content-3 .mid-content-img img {
    height: 400px;
    width: 810px;
}

.mid-content-3 .mid-content-text {
    padding-top: 100px;
    margin-bottom: 70px;
}

.mid-content-3 .mid-content-img .img-transparent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    margin-top: 2px;
}

.mid-content-3 .mid-content-img .img-transparent img {
    width: 200px;
    height: 120px;
}

.mid-content-3 .img1 {
    margin-left: 350px;
    grid-column: 1/2;
}

.mid-content-3 .img2 {
    grid-column: 2/3;

}

.mid-content-3 .img3 {
    margin-right: 350px;
    grid-column: 3/4;
}

.mid-content-3 .more-text {
    margin-top: 100px;
}

/* Start of middle content 4 */
.mid-content-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    margin-bottom: 400px;
}

.mid-content-4 .mid-content-text-left {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 100px;
    margin-left: 150px;
}

.mid-content-4 .mid-content-img {
    grid-row: 1/2;
    grid-column: 2/3;
}

.mid-content-4 .mid-content-img img {
    height: 400px;
    width: 700px;
    margin-right: 150px;
}

.btn {
    border-radius: 0;
    border:none;
    height: 30px;
    color: #fff;
    background: green;
}

.btn:hover {
    background: gray;
}
/* End of middle content */

/* Start of footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    grid-template-rows: 3fr 1fr;
    background: rgb(230, 230, 230);
    padding-top: 20px;
    padding-left: 60px;
    color: rgb(94, 87, 87);
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    float: left;
}

.footer a {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: rgb(94, 87, 87);
}

.footer .just {
    grid-row: 2/3;
    grid-column: 4/5;
    /* margin-left: 120px; */
}

.footer .web-link {
    grid-row: 2/3;
    grid-column: 1/2;
}

.footer .quicklinks {
    grid-row: 1/2;
    grid-column: 1/2;
    /* margin-left: 120px; */

}

.footer .quicklink1 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.footer .quicklink2 {
    grid-row: 1/2;
    grid-column: 3/4;
}